.vs/
.vscode/
.idea
*.DS_Store

submodule.sh

.terraform
.terraform.lock.hcl
*.tmp
go.sum

TestRecord
**/TestRecord.md.tmp
TestRecord.json
terraform.tfstate
terraform.tfstate.backup
quickstarts/**/header.md
quickstarts/**/footer.md
**/terraform.log

aliyun
*.tgz
*.zip