.vs/
.vscode/
.idea
*.DS_Store

submodule.sh

.terraform
.terraform.lock.hcl
.terraform.tfstate.lock.info
*.tmp
go.sum

TestRecord
**/TestRecord.md.tmp
TestRecord.json
TestRecordImport
TestRecordTfer
terraform.tfstate
terraform.tfstate.backup
quickstarts/**/header.md
quickstarts/**/footer.md
quickstarts/**/plan.tftest.hcl
quickstarts/**/apply.tftest.hcl
quickstarts/**/import_test/
quickstarts/**/tfer_test/
**/terraform.log

aliyun
*.tgz
*.zip